<% include header %>
<% include navbar %>
<% if (user.userType == 'owner') { %>
	<p>OWNER</p>
<% } %>
<% if (user.userType == 'student') { %>
	<p>STUDENT</p>
<% } %>
<% if (user.userType == 'teacher') { %>
	<p>TUTOR</p>
<% } %>
<% include footer %>