<% include header %>
<% include navbar %>
<link rel="stylesheet" href="http://media.muchosmedia.com/brainwave/style.css" type="text/css">
<script type="text/javascript" src="http://media.muchosmedia.com/scribblar/scripts/includes.js"></script>
<script type="text/javascript">
	var targetID = "scribblar";
	var flashvars = {};
	flashvars.userid = "0"; // to allow an anonymous guest pass 0 */
	flashvars.roomid = "r0b4jw"; // the roomid for the room you'd like to access - substitute this for a valid roomid */
	// flashvars.roomid = "<%=roomID%>";
	flashvars.preferredLocales = "en_US";
	flashvars.username = "John"; // optional: if you pass userid=0 you may also pass a username to skip the username prompt and log the user in using that username
	var params = {};
	params.allowscriptaccess = "always";
	var attributes = {};
	attributes.id = "scribblar";
	attributes.name = "scribblar";
	swfobject.embedSWF("http://media.muchosmedia.com/scribblar/v3/main.swf", "alternate", "100%", "100%", "11.1.0", "http://media.muchosmedia.com/swfobject/expressInstall.swf", flashvars, params, attributes);
</script>

<div id="alternate">
	<a href="http://www.adobe.com/go/getflashplayer">This page requires the latest version of Adobe Flash. Please download it now.<br>
		<img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" border="0" alt="Get Adobe Flash Player" />
	</a>
</div>

<!-- <div class="container" id="js-teacher-list">
	<h1> Meeting </h1>
	<hr>
	<div style="height:300px;overflow:auto;"></div>
	<form method="post" class="form-horizontal" id="meetingFrm" >
		<input type="text" name="msg" placeholder="write your msg"><br>
	</form>
</div> -->

<script>
	// $(document).ready(function() {
	// 	$("#meetingFrm").submit(function() {			
	// 		var socket = io.connect('http://localhost');
	// 		socket.on('')
	// 		return false;
	// 	});
	// });	
</script>
<% include footer %>